body{
    height: 100vh;
}
.col-md-12{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-group{
    color: #fff;
    font-family: Mons;
}
.why{
    color: #fff;
}